<form class="find-form" [formGroup]="findFormGroup">
  <mat-card class="find-card">
    <mat-card-header>
      <mat-card-title>Поиск</mat-card-title>
      <mat-card-subtitle>Параметры поиска</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="find-full-width" appearance="fill">
            <mat-label>Поиск по названию</mat-label>
            <input matInput placeholder="title" formControlName="titleCtrl">
            <button mat-icon-button matSuffix color="primary" aria-label="Искать" (click)="findByTitle()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="5">
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Title</span>
              <span matListItemLine>Second line</span>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="find-full-width" appearance="fill">
            <mat-label>Поиск по содержанию</mat-label>
            <input matInput placeholder="content" formControlName="descriptCtrl">
            <button mat-icon-button matSuffix color="primary" aria-label="Искать" (click)="findByDescript()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="find-full-width" appearance="fill">
            <mat-label>Поиск по автору</mat-label>
            <input matInput placeholder="author" formControlName="authorCtrl">
            <button mat-icon-button matSuffix color="primary" aria-label="Искать" (click)="findByAuthor()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="find-full-width" appearance="fill">
            <mat-label>Поиск по тэгам</mat-label>
            <mat-select formControlName="tagCtrl">
              <mat-option *ngFor="let tag of tags" [value]="tag.tag">{{tag.tag}}</mat-option>
            </mat-select>
            <button mat-icon-button matSuffix color="primary" aria-label="Искать" (click)="findByTag()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="find-full-width" appearance="fill">
            <mat-label>Поиск по издателю</mat-label>
            <mat-select formControlName="publisherCtrl">
              <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">{{publisher.name}}</mat-option>
            </mat-select>
            <button mat-icon-button matSuffix color="primary" aria-label="Искать" (click)="findByPublisher()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-fab color="primary" [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
